body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
main {
  padding: 30px;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
main h2 {
  margin-bottom: 20px;
  font: 500 2rem "Times New Roman", Times, serif;
}
form {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
form .items {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-bottom: 15px;
}
form .items > label {
  font-size: 1.2rem;
  width: 200px;
}
form .items > input {
  border: none;
  width: 300px;
  border: 1px solid grey;
  padding: 1px;
  border-radius: 2px;
  font-size: 1.2rem;
}
form .items input:hover {
  outline: none;
}

.listItem {
  display: flex;
  flex-direction: column;
}
.listItem div input {
  margin-right: 4px;
}

form .btn {
  margin-top: 10px;
  font-size: 1.2rem;
  background-color: rgb(236, 227, 227);
  color: black;
  border: none;
  padding: 3px 10px;
  border-radius: 4px;
  position: relative;
  left: 200px;
  margin-right: 20px;
  cursor: pointer;
}

.error {
  position: absolute;

  text-align: center;
  color: red;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  right: 0;
  bottom: -20px;
}
